<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/style3.css">
</head>
<body>
	<div class="container" id="container">

		<div class="overlay-panel overlay-right">
			<h1 style="text-shadow: 2px 3px green">Data Successfully Stored
				in DataBase.</h1>
			<p>Click below, to view all user details.</p>
			<a href="retrieveUserDetails" style="color: white"><button>retireve
					Details</button></a>
		</div>

	</div>


</body>
</html>